.btn-hover-primary:hover { background-color: #0b5ed7; border-color: #0b5ed7; }
.btn-hover-secondary:hover { background-color: #5a6169; border-color: #5a6169; }
.btn-hover-success:hover { background-color: #157347; border-color: #157347; }
.btn-hover-danger:hover { background-color: #bd2130; border-color: #bd2130; }
.btn-hover-warning:hover { background-color: #e0ac08; border-color: #e0ac08; }
.btn-hover-info:hover { background-color: #09a3ba; border-color: #09a3ba; }
.btn-hover-light:hover { background-color: #e9ecef; border-color: #e9ecef; color: #212529; }
.btn-hover-dark:hover { background-color: #1a1d20; border-color: #1a1d20; }

/* Additional Colors */
.btn-hover-darkslategray:hover { background-color: #264141; border-color: #264141; }
.btn-hover-dimgray:hover { background-color: #595959; border-color: #595959; }
.btn-hover-lightgray:hover { background-color: #bdbdbd; border-color: #bdbdbd; color: #212529; }
.btn-hover-midnightblue:hover { background-color: #12125a; border-color: #12125a; }
.btn-hover-slateblue:hover { background-color: #5a4f99; border-color: #5a4f99; }
.btn-hover-lightsteelblue:hover { background-color: #94a4b3; border-color: #94a4b3; }
.btn-hover-deeppink:hover { background-color: #e00f80; border-color: #e00f80; }
.btn-hover-salmon:hover { background-color: #e37363; border-color: #e37363; }
.btn-hover-tomato:hover { background-color: #e05339; border-color: #e05339; }
.btn-hover-sienna:hover { background-color: #8a4525; border-color: #8a4525; }
.btn-hover-darkorange:hover { background-color: #e07a00; border-color: #e07a00; }
.btn-hover-mediumvioletred:hover { background-color: #a90f6a; border-color: #a90f6a; }
.btn-hover-palegreen:hover { background-color: #81e681; border-color: #81e681; }
.btn-hover-aquamarine:hover { background-color: #69e7c1; border-color: #69e7c1; }
.btn-hover-lightseagreen:hover { background-color: #1a938d; border-color: #1a938d; }
.btn-hover-darkturquoise:hover { background-color: #00a9a5; border-color: #00a9a5; }
.btn-hover-steelblue:hover { background-color: #396a8f; border-color: #396a8f; }
.btn-hover-cadetblue:hover { background-color: #508387; border-color: #508387; }
.btn-hover-thistle:hover { background-color: #c29fca; border-color: #c29fca; }
.btn-hover-aliceblue:hover { background-color: #d8e6f3; border-color: #d8e6f3; }
.btn-hover-antiquewhite:hover { background-color: #e3dac9; border-color: #e3dac9; }
.btn-hover-aqua:hover { background-color: #00e5e5; border-color: #00e5e5; }
.btn-hover-azure:hover { background-color: #d0e9e9; border-color: #d0e9e9; }
.btn-hover-beige:hover { background-color: #e0e0d1; border-color: #e0e0d1; }
.btn-hover-bisque:hover { background-color: #e7d3a7; border-color: #e7d3a7; }
.btn-hover-black:hover { background-color: #0d0d0d; border-color: #0d0d0d; }
.btn-hover-blanchedalmond:hover { background-color: #e7d9af; border-color: #e7d9af; }
.btn-hover-blue:hover { background-color: #0000e5; border-color: #0000e5; }
.btn-hover-blueviolet:hover { background-color: #7329b7; border-color: #7329b7; }
.btn-hover-brown:hover { background-color: #8c2525; border-color: #8c2525; }
.btn-hover-burlywood:hover { background-color: #c99a6b; border-color: #c99a6b; }
.btn-hover-chartreuse:hover { background-color: #6ae200; border-color: #6ae200; }
.btn-hover-chocolate:hover { background-color: #be5a1b; border-color: #be5a1b; }
.btn-hover-coral:hover { background-color: #e06643; border-color: #e06643; }
.btn-hover-cornflowerblue:hover { background-color: #517ab3; border-color: #517ab3; }
.btn-hover-cornsilk:hover { background-color: #e7e2a7; border-color: #e7e2a7; }
.btn-hover-crimson:hover { background-color: #c00f28; border-color: #c00f28; }
.btn-hover-cyan:hover { background-color: #00e5e5; border-color: #00e5e5; }
.btn-hover-darkblue:hover { background-color: #000073; border-color: #000073; }
.btn-hover-darkcyan:hover { background-color: #007373; border-color: #007373; }
.btn-hover-darkgoldenrod:hover { background-color: #9c730b; border-color: #9c730b; }
.btn-hover-darkgray:hover { background-color: #8f8f8f; border-color: #8f8f8f; }
.btn-hover-darkgrey:hover { background-color: #8f8f8f; border-color: #8f8f8f; }
.btn-hover-darkgreen:hover { background-color: #005200; border-color: #005200; }
.btn-hover-darkkhaki:hover { background-color: #a3a059; border-color: #a3a059; }
.btn-hover-darkmagenta:hover { background-color: #730073; border-color: #730073; }
.btn-hover-darkolivegreen:hover { background-color: #475726; border-color: #475726; }
.btn-hover-darkorchid:hover { background-color: #7a29a3; border-color: #7a29a3; }
.btn-hover-darkred:hover { background-color: #730000; border-color: #730000; }
.btn-hover-darksalmon:hover { background-color: #cf8063; border-color: #cf8063; }
.btn-hover-darkseagreen:hover { background-color: #759a75; border-color: #759a75; }
.btn-hover-darkslateblue:hover { background-color: #3b3170; border-color: #3b3170; }
.btn-hover-darkslategrey:hover { background-color: #264141; border-color: #264141; }
.btn-hover-darkviolet:hover { background-color: #7a00b3; border-color: #7a00b3; }
.btn-hover-deepskyblue:hover { background-color: #00a3e5; border-color: #00a3e5; }
.btn-hover-dimgrey:hover { background-color: #595959; border-color: #595959; }
.btn-hover-dodgerblue:hover { background-color: #1678e0; border-color: #1678e0; }
.btn-hover-firebrick:hover { background-color: #991f1f; border-color: #991f1f; }
.btn-hover-floralwhite:hover { background-color: #e7f6e7; border-color: #e7f6e7; }
.btn-hover-forestgreen:hover { background-color: #1a731a; border-color: #1a731a; }
.btn-hover-fuchsia:hover { background-color: #e000e0; border-color: #e000e0; }
.btn-hover-gainsboro:hover { background-color: #c1c1c1; border-color: #c1c1c1; }
.btn-hover-ghostwhite:hover { background-color: #e7e7f3; border-color: #e7e7f3; }
.btn-hover-gold:hover { background-color: #e0c900; border-color: #e0c900; }
.btn-hover-goldenrod:hover { background-color: #c18e1b; border-color: #c18e1b; }
.btn-hover-gray:hover { background-color: #6b6b6b; border-color: #6b6b6b; }
.btn-hover-green:hover { background-color: #006b00; border-color: #006b00; }
.btn-hover-greenyellow:hover { background-color: #93e02f; border-color: #93e02f; }
.btn-hover-honeydew:hover { background-color: #d8f3d8; border-color: #d8f3d8; }
.btn-hover-hotpink:hover { background-color: #e04f93; border-color: #e04f93; }
.btn-hover-indianred:hover { background-color: #b34747; border-color: #b34747; }
.btn-hover-indigo:hover { background-color: #3d006b; border-color: #3d006b; }
.btn-hover-ivory:hover { background-color: #e7e7df; border-color: #e7e7df; }
.btn-hover-khaki:hover { background-color: #d3c66b; border-color: #d3c66b; }
.btn-hover-lavender:hover { background-color: #c8c8f3; border-color: #c8c8f3; }
.btn-hover-lavenderblush:hover { background-color: #e7d3df; border-color: #e7d3df; }
.btn-hover-lawngreen:hover { background-color: #6be000; border-color: #6be000; }
.btn-hover-lemonchiffon:hover { background-color: #e7e3af; border-color: #e7e3af; }
.btn-hover-lightblue:hover { background-color: #93bfe0; border-color: #93bfe0; }
.btn-hover-lightcoral:hover { background-color: #d36b6b; border-color: #d36b6b; }
.btn-hover-lightcyan:hover { background-color: #c1e0e0; border-color: #c1e0e0; }
.btn-hover-lightgoldenrodyellow:hover { background-color: #e7e3af; border-color: #e7e3af; }
.btn-hover-lightgreen:hover { background-color: #73e073; border-color: #73e073; }
.btn-hover-lightpink:hover { background-color: #e0a3af; border-color: #e0a3af; }
.btn-hover-lightsalmon:hover { background-color: #e0937a; border-color: #e0937a; }
.btn-hover-lightskyblue:hover { background-color: #6bbfe0; border-color: #6bbfe0; }
.btn-hover-lightslategray:hover { background-color: #5f6f7a; border-color: #5f6f7a; }
.btn-hover-lightyellow:hover { background-color: #e7e7bf; border-color: #e7e7bf; }
.btn-hover-lime:hover { background-color: #00e000; border-color: #00e000; }
.btn-hover-limegreen:hover { background-color: #26b326; border-color: #26b326; }
.btn-hover-linen:hover { background-color: #e7e3d1; border-color: #e7e3d1; }
.btn-hover-magenta:hover { background-color: #e000e0; border-color: #e000e0; }
.btn-hover-maroon:hover { background-color: #6b0000; border-color: #6b0000; }
.btn-hover-mediumaquamarine:hover { background-color: #53b38f; border-color: #53b38f; }
.btn-hover-mediumblue:hover { background-color: #0000b3; border-color: #0000b3; }
.btn-hover-mediumorchid:hover { background-color: #9a47b3; border-color: #9a47b3; }
.btn-hover-mediumpurple:hover { background-color: #7a5dc1; border-color: #7a5dc1; }
.btn-hover-mediumseagreen:hover { background-color: #319a59; border-color: #319a59; }
.btn-hover-mediumslateblue:hover { background-color: #6556c1; border-color: #6556c1; }
.btn-hover-mediumspringgreen:hover { background-color: #00e08f; border-color: #00e08f; }
.btn-hover-mediumturquoise:hover { background-color: #39b3a3; border-color: #39b3a3; }
.btn-hover-mintcream:hover { background-color: #e7fae7; border-color: #e7fae7; }
.btn-hover-mistyrose:hover { background-color: #e7c8c1; border-color: #e7c8c1; }
.btn-hover-moccasin:hover { background-color: #e7d3a3; border-color: #e7d3a3; }
.btn-hover-navajowhite:hover { background-color: #e7c8af; border-color: #e7c8af; }
.btn-hover-navy:hover { background-color: #00006b; border-color: #00006b; }
.btn-hover-oldlace:hover { background-color: #e7e0d1; border-color: #e7e0d1; }
.btn-hover-olive:hover { background-color: #6b6b00; border-color: #6b6b00; }
.btn-hover-olivedrab:hover { background-color: #577321; border-color: #577321; }
.btn-hover-orange:hover { background-color: #e09300; border-color: #e09300; }
.btn-hover-orangered:hover { background-color: #e03900; border-color: #e03900; }
.btn-hover-orchid:hover { background-color: #c1479a; border-color: #c1479a; }
.btn-hover-palegoldenrod:hover { background-color: #d3d18f; border-color: #d3d18f; }
.btn-hover-paleturquoise:hover { background-color: #93d3d3; border-color: #93d3d3; }
.btn-hover-palevioletred:hover { background-color: #c15973; border-color: #c15973; }
.btn-hover-papayawhip:hover { background-color: #e7d9bf; border-color: #e7d9bf; }
.btn-hover-peachpuff:hover { background-color: #e7af8f; border-color: #e7af8f; }
.btn-hover-peru:hover { background-color: #b36b2f; border-color: #b36b2f; }
.btn-hover-pink:hover { background-color: #e0a3af; border-color: #e0a3af; }
.btn-hover-plum:hover { background-color: #c18fa3; border-color: #c18fa3; }
.btn-hover-powderblue:hover { background-color: #93bfe0; border-color: #93bfe0; }
.btn-hover-purple:hover { background-color: #6b006b; border-color: #6b006b; }
.btn-hover-rebeccapurple:hover { background-color: #53297a; border-color: #53297a; }
.btn-hover-red:hover { background-color: #e00000; border-color: #e00000; }
.btn-hover-rosybrown:hover { background-color: #a37373; border-color: #a37373; }
.btn-hover-royalblue:hover { background-color: #3553c1; border-color: #3553c1; }
.btn-hover-saddlebrown:hover { background-color: #733d13; border-color: #733d13; }
.btn-hover-salmon:hover { background-color: #e37363; border-color: #e37363; }
.btn-hover-sandybrown:hover { background-color: #cf8e47; border-color: #cf8e47; }
.btn-hover-seashell:hover { background-color: #e7dfdf; border-color: #e7dfdf; }
.btn-hover-sienna:hover { background-color: #8a4525; border-color: #8a4525; }
.btn-hover-silver:hover { background-color: #a3a3a3; border-color: #a3a3a3; }
.btn-hover-skyblue:hover { background-color: #6bbfe0; border-color: #6bbfe0; }
.btn-hover-slateblue:hover { background-color: #5a4f99; border-color: #5a4f99; }
.btn-hover-slategrey:hover { background-color: #5a697a; border-color: #5a697a; }
.btn-hover-snow:hover { background-color: #e7dfdf; border-color: #e7dfdf; }
.btn-hover-springgreen:hover { background-color: #00e06b; border-color: #00e06b; }
.btn-hover-steelblue:hover { background-color: #396a8f; border-color: #396a8f; }
.btn-hover-tan:hover { background-color: #b3936b; border-color: #b3936b; }
.btn-hover-teal:hover { background-color: #006b6b; border-color: #006b6b; }
.btn-hover-thistle:hover { background-color: #c29fca; border-color: #c29fca; }
.btn-hover-tomato:hover { background-color: #e05339; border-color: #e05339; }
.btn-hover-turquoise:hover { background-color: #31b3a3; border-color: #31b3a3; }
.btn-hover-violet:hover { background-color: #c16bb3; border-color: #c16bb3; }
.btn-hover-wheat:hover { background-color: #d3c69a; border-color: #d3c69a; }
.btn-hover-white:hover { background-color: #e7e7e7; border-color: #e7e7e7; }
.btn-hover-whitesmoke:hover { background-color: #d3d3d3; border-color: #d3d3d3; }
.btn-hover-yellow:hover { background-color: #e0e000; border-color: #e0e000; }
.btn-hover-yellowgreen:hover { background-color: #7ab32f; border-color: #7ab32f; }
.btn-hover-#F0F8FF:hover { background-color: #d8e6f3; border-color: #d8e6f3; }
