{% extends "layout.html" %}

{% block content %}


<div class="max-w-4xl mx-auto space-y-8">
    <div class="container">
        <h1 class=" ">Installation</h1>



        <hr class="my-2">

        <section>
            <h3 class="">01 — install our library</h3>
            <p class="text-gray-600 mb-2">Install <code> LIBrary name </code> via npm.
            </p>
            <div class="  bg-gray my-2  " style="border-radius: 10px;">
                  <p class="ml-2 " style="font-size: medium;" >  npm install ...Soon</>               
            </div>
        </section>

        <section>
            <div class="bg-gray-100 p-4 rounded font-mono text-sm overflow-x-auto">
                <h2> import our library </h2>
                <h4> @import "libname";</h4>
            </div>
        </section>

        
       
    </div>
</div>


{% endblock content %}