<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css">
    <script src="test.js"></script>
<body>
    <div class="vertical-line"></div>
    <div class="vertical-line2"></div>

    <div class="content5">
       
       </div>
      
    <div class="content1">
        <h1> Skip the hassle—build beautiful, responsive sites instantly.  </h1>
          
    </div>
    <div class="content5">
       <pre><h3 > text-lg text-white font-medium </h3></pre> 
       </div>
    <div class="container3">
        <pre> A utility-first CSS framework packed with classes like <span class="highlight">flex</span>,<span class="highlight">pt-4</span>, <span class="highlight">text-center</span> and 
 <span class="highlight">rotate-90</span> that can be composed to build any design, directly in your markup.</pre>

    </div>
    <div class="container3"></div>
    <div class="container4">
        <div class="options">
        <a href="{{url_for('align_items')}}"> <button class="btn"> Get Started</button></a>
          
        </div>
      </div>
     
    
      <div class="content5">
       <pre><h3> text-sm   font-lg </h3></pre> 
       </div>
      <div class="main-container">
        <div class="code-box">
           <pre id="typewriter">
&ltdiv class='container bg-prussian-blue w-90p h-12  m-0 p-0' style='border: 5px solid #003049;'&gt
    &ltdiv class='display-flex m-0 p-0'&gt
        &ltdiv class='bg-b5fccd w-8 h-8'&gt&lt/div&gt
        &ltdiv class='bg-7AC6D2 w-8 h-8'&gt&lt/div&gt
        &ltdiv class='bg-3D90D7 w-8 h-8'&gt&lt/div&gt
        &ltdiv class='bg-3674B5 w-8 h-8'&gt&lt/div&gt
        &ltdiv class='bg-3A59D1 w-8 h-8'&gt&lt/div&gt
    &lt/div&gt
&lt/div&gt</pre>
        </div>
        <div class="output-box">
          <img src="../static/img.jpg" alt="Demo Image" />
        </div>
      </div>
     
      <div class="content5">
       <pre><h3> text-4xl  text-white  text-balance  </h3></pre> 
       </div>
        <div class="content5">
        <h1>Built for the modern web.</h1>
       </div>
    </div>
    <div class="dual-section">
        <div class="section-left">
          <h1>CSS variables</h1>
          <div class="responsive-box">
            <img src="../static/img2.png" alt="Image" class="full-image" />
          </div>
        </div>
      
        <div class="vertical-divider"></div>
      
        <div class="section-right">
            <h1>btn colors</h1>
            <div class="responsive-box">
                <img src="../static/img-btn.jpg" alt="Image" class="full-image" />
              </div>
        
        </div>
      </div>
      
      <div class="content5">
        <h1>UI that speaks your code.</h1>
       </div>
       <div class="container3"></div>
       <div class="content5">
 <h3><pre>Our library automatically removes all unused CSS when building for production, which means your
final CSS bundle is the smallest it could possibly be. In fact, most Tailwind projects ship less
than 10kB of CSS to the client.</pre></h3>
       </div>
       
      
      <div class="content5">
        <h1>From concept to code — in seconds.</h1>
       </div>
       
        <div class="responsive-box">
            <img src="../static/img3.jpg" alt="Image" class="full-image" />
          </div>
    
      <div class="container3"></div>
      <div class="content5">
        <h1>Learn faster.</h1>
       </div>
       <div class="container3">
        <h3>it  is a collection of beautiful, fully responsive UI components, designed and developed by us, the creators of GRID GURU CSS. It's got hundreds of ready-to-use examples to choose from, and is guaranteed to help you find the perfect starting point for what you want to build.</h3>
       </div>
       <div class="container3"></div>
     
      <div class="four-box-container">
       
          
          
        <div class="divider"></div>
       
              
        <div class="box">
            <ul>
                <li>Community
                </li>
                <li>GitHub</li>
                <li>X</li>
                <li>Discord</li>
                
              </ul>
        </div>
      </div>
      <div class="footer">
       <pre> Copyright © 2025 GRID GURU Labs Inc.·Trademark Policy</pre>
      </div>
      
</html>