<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI Library</title>
  <link rel="stylesheet" href="../static/styleLayout.css">

  <link rel="stylesheet" href="../static/nav_mode.css">
  <link rel="stylesheet" href="../static/display.css">
  <link rel="stylesheet" href="../static/background.css">
    <link rel="stylesheet" href="../static/color.css">
    <link rel="stylesheet" href="../static/display.css">
    <link rel="stylesheet" href="../static/mar_pad_rem.css">
    <link rel="stylesheet" href="../static/grid/grid_row_col_st.css">
    <link rel="stylesheet" href="../static/new_grid.css">
    <link rel="stylesheet" href="../static/container.css">
    <link rel="stylesheet" href="../static/form.css">
    <link rel="stylesheet" href="../static/live_copy_btn/live_copy.css">
    <link rel="stylesheet" href="../static/btn-color.css">
    <link rel="stylesheet" href="../static/btn-hover-color.css">
    <link rel="stylesheet" href="../static/button_page.css">
  <script type="text/javascript" src="../static/app.js" defer></script>
  <script type="text/javascript" src="../static/live_copy_btn/live_copy_btn.js" defer></script>
  
</head>

<body>
  
  <div id="sidebar">
    <ul>
      <li>
        <span class="logo" ><a href="{{url_for('index')}}" style="text-decoration: none;">GRID GURU </a></span>
        <button onclick=toggleSidebar()  id="toggle-btn">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
        </button>
      </li>
      <li class="active">
        <a href="{{ url_for('index') }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"/></svg>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('align_items')}}">
         <span class="mr-1">   Align-items</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('basic_grid')}}">
         <span class="mr-1">   Basic Grid</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('flex_wrap')}}">
         <span class="mr-1">   Flex-wrap</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('justify_content')}}">
         <span class="mr-1">   Justify Content</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('flexbox')}}">
         <span class="mr-1">   Flex-Box</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('forms')}}">
         <span class="mr-1">   Forms</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('navbar')}}">
         <span class="mr-1">   Navbar</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('typography')}}">
         <span class="mr-1">   Typography</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('color')}}">
         <span class="mr-1">  Color</span>
        </a>
      </li>
      
       
    </ul>
  </div>
  <main>
    <nav class="navbar">
      <div class="container2">
          <div class="real-nav">
              <div>
                  <h3><a href=" {{url_for('index')}}" style="text-decoration: none;">GRID GURU</a></h3>
              </div>
              
              <div class="nav-opt">
                <ul>
                    <li><a href="{{url_for('docs')}}">docs</a></li>
                   
                </ul>
                <button id="theme-toggle">🌙 Dark Mode</button>
            </div>     
          </div>
      </div>
  </nav>
  <div class="container">

    {% block content%}  {%endblock%}


  </div>
  
</main>
</body>
</html>